.topButton{
  position: fixed;
  left: 50%;
  margin-left: -20px;
  bottom : 10px;

  background-color: rgba(128, 128, 128, 0.8 );
  color: white;
  
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 0px;
  
  font-weight: 600;
  cursor: pointer;
}