.filterBtn {
  border-radius: 10px;
  border: solid 1px black;
  padding: 10px;
}

.filterBtn:hover {
  color: white;
  background-color: black;
}

.active {
  color: white;
  background-color: navy;
}